<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />

  </startup>
  <appSettings>
    <add key="Handler" value="E:\School stuff\srcImage1"/>
    <add key="OutputDir" value="E:\School stuff\destImage"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>
</configuration>